<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <meta charset="utf-8">
    <title>LSS Counseling :: {{ title }}</title>
    <meta property="og:title" content="{{ title | escape  }}">
    <meta name="description" content="I have been in practice as a Licensed Professional Counselor since 1994. I counsel individuals to learn more about themselves and to find improvement in their relationships, to view themself more positively and to resolve issues of trauma, depression, anxiety and grief.">
    <meta name="generator" content="{{ eleventy.generator }}">
</head>

<body>
    <div id="outer">
        {% include "header.html" %}

        <div id="headerpic">
            <img src="/images/hdrpic.jpg" width="960" height="154" alt="calm stream" />

            <div id="menu">
                <ul class="nav-header">
                    <li><a href="/">Home</a></li>
                    <li><a href="/pages/about/">About</a></li>
                    <li><a href="/pages/services/">Services</a></li>
                    <li><a href="/pages/contact/">Contact</a></li>
                </ul>
            </div>
        </div>

        <div id="content">
            <div id="primarycontainer">
                    <main class="post">
                        {{ content | safe }}
                    </main>
            </div>
            {% include "sidebar.html" %}
        </div>

        {% include "footer.html" %}
    </div>
</body>

</html>
