<div id="secondarycontent">
    <div class="box">
        <div id="sidebar">
            <p>LSS Counseling, LLC</p>
            <br>
            <p><strong>Mailing Address</strong></p>
            <p>Luann Spencer-Steele</p>
            <p>745 Craig Road</p>
            <p>Suite 206</p>
            <p>Creve Coeur, MO 63141</p>
            <br>
            <p><strong>Contact Info</strong></p>
            <p>Phone: 314-409-2362</p>
            <p>Email: <a href="mailto:lsscounseling@att.net">lsscounseling@att.net</a></p>
            <p>Fax:  314-432-7500</p>
            <br>
            <p><strong>Hours</strong></p>
            <p>Monday 12pm--10pm</p>
            <p>Tuesday 10am--5pm</p>
            <p>Thursday 9am--6pm</p>
            <a href="https://www.goodtherapy.org/therapists/profile/luann-spencersteele-20160417">
                <img src="/images/verified_seal1.png" alt="Luann Spencer-Steele, LPC verified by GoodTherapy.org" />
            </a>
        </div>
    </div>
</div>
